@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

html {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  /* min-width: 1300px; */
   /* overflow-x: hidden; */
}

body {
  margin: 0 auto 4em auto;
  min-width: 1110px;
  /* width: 1024px; */
  color: #333;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'RijksoverheidSans';
  background-color: #E8F0F4;
  /* overflow-x: hidden; */
}

p {
  column-count: 1;
  line-height: 24px;
}

p2 {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px
}


p3 {
  column-count: 1;
  line-height: 24px;

}

p4 {
  column-count: 1;
  line-height: 32px;
  font-size:17px;

}

p5 {
  column-count: 2;
  line-height: 20px;
  font-size:14px;
  color:#777

}

p6 {
  column-count: 1;
  line-height: 24px;
  font-size:14px;
  color:#000
}

h1 {
  /* padding-left: 20px; */
  font-weight: normal;
  font-size: 2.5em;
}

h2 {
  /* padding-left: 20px; */
  margin-top: 2.5em;
  font-weight: 100;
}

a {
  color: #4078c0;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.sankey {
  /* background-color: white; */
  border-radius: 7px;
  position: relative;
}

#sankey {
  height: 600px;
}

#try-sankey,
#try {
  height: 400px;
}




.source {
  margin: 0.5em;
  font-size: small;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #555;
}

.source a {
  color: #558;
}

svg .link {
  opacity: 0.8;
  fill: steelblue;
}

svg .link:hover {
  opacity: 1;
}

svg g.sankey {
  font-size: 10pt;
}

svg .node line {
  stroke-width: 1px;
  stroke: #000;
}

svg .node-type-process line {
  stroke-width: 4px;
  stroke: #888;
}

svg .group rect {
  fill: #eee;
  stroke: #bbb;
  stroke-width: 0.5px;
}

svg .group text {
  fill: #999;
}


@font-face {
  font-family: "RijksoverheidSans";
  src: url("../fonts/ROsanswebtextregular.eot?") format("embedded-opentype"),
    url("../fonts/ROsanswebtextregular.woff") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RijksoverheidSans";
  src: url("../fonts/ROsanswebtextitalic.eot?") format("embedded-opentype"),
    url("../fonts/ROsanswebtextitalic.woff") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "RijksoverheidSans";
  src: url("../fonts/ROsanswebtextbold.eot?") format("embedded-opentype"),
    url("../fonts/ROsanswebtextbold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RijksoverheidSerif";
  src: url("../fonts/ROserifwebregular.eot?") format("embedded-opentype"),
    url("../fonts/ROserifwebregular.woff") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RijksoverheidSerif";
  src: url("../fonts/ROserifwebitalic.eot?") format("embedded-opentype"),
    url("../fonts/ROserifwebitalic.woff") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "RijksoverheidSerif";
  src: url("../fonts/ROserifwebbold.eot?") format("embedded-opentype"),
    url("../fonts/ROserifwebbold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: 'RijksoverheidSans';
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}



#rijkslogo {
  margin-left: 50%;
  z-index: 990;
  position: absolute;
  left: 0px;
  top: -25px;
  pointer-events: none;

}


#notificationWindow {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.nodeNames {
  color: black;
  z-index: 200000;
}




#controls {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 130px;
  height: 65px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
  /* background-color: red; */
}


#graphViewer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* width: 100%; */
  height: 250px;
  z-index: 1000;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* background-color: red; */

}

.transmissionLine {
  stroke: black;
}

.path {
  animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.leftPane {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: yellow; */
  /* min-width: 345px;  */
  min-width: 0px;
  /* height: 2000px; */
  min-height: 2000px;
  /* position: absolute; */
}

.middlePane {
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: blue; */
  min-width: 1140px;
  /* height: 2000px; */
}

.rightPane {
  grid-area: 1 / 3 / 2 / 4;
  /* background-color: green; */
  /* height: 2000px; */
}

.webkitScale {
  -webkit-transform: translate(-300px, 0px) scale(0.6, 0.6);
  transform: transform(-500, 0)scale(0.6)
}


#dynSankey {
  width: 100%;
  height: 900px;
  background-color: #fff;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#statSankey {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 1400px;
  background-color: #fff;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin: 0 auto;
}

.modelOpbouwToelichting {
  display: grid;
  /* Use fixed and equal width column sizing */
  grid-template-columns: repeat(4, 1fr);
  /* Use 'auto' for automatic row sizing */
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-content: center;
  /* padding-left: 15px; */
  /* text-align: center; */
}


.div_modelOpbouwToelichting_1 {
  grid-area: 1 / 2 / 2 / 5;
  border-bottom: 1px solid black;
}

.div_modelOpbouwToelichting_2 {
  grid-area: 2 / 2 / 3 / 3;

}

.div_modelOpbouwToelichting_3 {
  grid-area: 2 / 3 / 3 / 4;
}

.div_modelOpbouwToelichting_4 {
  grid-area: 2 / 4 / 3 / 5;
}

.div_modelOpbouwToelichting_5 {
  grid-area: 3 / 1 / 4 / 2;
}

.div_modelOpbouwToelichting_6 {
  grid-area: 3 / 2 / 4 / 3;
}

.div_modelOpbouwToelichting_7 {
  grid-area: 3 / 3 / 4 / 4;
}

.div_modelOpbouwToelichting_8 {
  grid-area: 3 / 4 / 4 / 5;
}

.div_modelOpbouwToelichting_9 {
  grid-area: 2 / 1 / 3 / 2;
}

.div_modelOpbouwToelichting_10 {
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 1px solid black;
}


.parent_modelimplementatie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.div1_modelimplementatie {
  grid-area: 1 / 1 / 2 / 4;
  border-bottom: 1px solid black;
}

.div2_modelimplementatie {
  grid-area: 2 / 1 / 3 / 2;
}

.div3_modelimplementatie {
  grid-area: 2 / 2 / 3 / 4;
}

.div4_modelimplementatie {
  grid-area: 3 / 1 / 4 / 4;
  border-bottom: 1px solid black;
}

.div5_modelimplementatie {
  grid-area: 4 / 1 / 5 / 2;
  border-bottom: 1px solid black;
}

.div6_modelimplementatie {
  grid-area: 4 / 2 / 5 / 3;
  border-bottom: 1px solid black;
}

.div7_modelimplementatie {
  grid-area: 4 / 3 / 5 / 4;
  border-bottom: 1px solid black;
}

.div8_modelimplementatie {
  grid-area: 5 / 1 / 6 / 2;
}

.div9_modelimplementatie {
  grid-area: 5 / 2 / 6 / 3;
}

.div10_modelimplementatie {
  grid-area: 5 / 3 / 6 / 4;
}

.div11_modelimplementatie {
  grid-area: 6 / 1 / 7 / 2;
}

.div12_modelimplementatie {
  grid-area: 6 / 2 / 7 / 3;
}

.div13_modelimplementatie {
  grid-area: 6 / 3 / 7 / 4;
}


.parent_twoDivs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1_twoDivs {
  grid-area: 1 / 1 / 2 / 2;
}

.div2_twoDivs {
  grid-area: 1 / 2 / 2 / 3;
}

ul {
  list-style-type: disc;
  /* Use disc bullets */
  padding-left: 20px;
  /* Add padding to the left to create space */
}

li {
  margin-bottom: 8px;
  /* Add margin below each list item for vertical spacing */
}


#header {
  /* position: fixed; */
  background-color: #E8F0F4;

  top: 0px;
  width: 100%;
  height: 125px;
  z-index: 1000;
  /* background-color: white; */
}




#map {
  font-family: 'RijksoverheidSans';
  /* width: 400px; */
  height: 1000px;
  background-color: white;

  /* margin-left: 30px; */
  /* position: absolute; */
  /* right: 200px; */
  /* top: 1200px; */
}

.grid line {
  stroke-width: .5px;
  stroke: '#000';
  stroke-dasharray: 5;
}

.ontop {
  z-index: 1000
}

#navigatieMenuContainer {
  position: -webkit-sticky;
  float: right;
  position: sticky;
  /* background-color: white; */
  width: 290px;
  /* height: 100px; */
  /* margin-right: 30px; */
  top: 125px;
  /* background-color: red; */
  /* padding: 20px; */
  /* box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / %) */
}





.assetsViewIntro {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  /* background-color: white; */
  position: relative;
  height: 200px;
}

.assetsViewContainer {
  margin-top: 0px;
  margin-bottom: 50px;

  width: 1110px;
  background-color: white;
  position: relative;
  height: 1150px;
  transform: scale(0.9);
  margin-left: -70px;
}


.stackGraphContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: white;
  position: relative;
  height: 575px;
}

.assetsViewMap {
  position: absolute;
  width: 100%;
  height: 900px;
  top: 150px;
  background-color: white;
  z-index: 100;
  /* background-color: #; */
}

.assetsViewMapOverlay {
  position: absolute;
  top: 150px;
  left: 0px;
  /* z-index: 3000; */
  width: 100%;
  height: 930px;
  pointer-events: none;
  z-index: 200;
  /* background-color: red; */
}

.assetsViewMapOverlay2 {
  position: absolute;
  top: 150px;
  left: 0px;
  /* z-index: 3000; */
  width: 100%;
  height: 930px;
  pointer-events: none;
  z-index: 300;
  /* background-color: red; */
}

.assetsViewMapOverlay3 {
  position: absolute;
  top: 150px;
  left: 0px;
  /* z-index: 3000; */
  width: 100%;
  height: 930px;
  pointer-events: none;
  z-index: 6000;
  /* background-color: red; */
}

.assetsViewAssetsSwitchOverlay {
  position: absolute;
  top: 150px;
  left: 0px;
  /* z-index: 3000; */
  width: 100%;
  height: 930px;
  pointer-events: none;
  z-index: 8000;
}

.assetsViewDialogOverlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  /* top: 150px; */
  /* left: 0px; */
  /* z-index: 3000; */
  width: 100%;
  /* top: 100px; */
  height: 100%;
  pointer-events: all;
  z-index: 500;
  visibility: hidden;
  /* -webkit-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 37px -18px rgba(0, 0, 0, 0.75); */
  /* background-color: red; */
}

.assetsViewHeader {
  position: absolute;
  top: 0px;
  z-index: 200;
  height: 100px;
  width: 100%;
  background-color: #546689;
  /* opacity: 0.8 */
}

.assetsViewFooter {
  position: absolute;
  bottom: 0px;
  z-index: 200;
  height: 100px;
  width: 100%;
  /* background-color: #eee; */
  /* background-color: rgba(255, 255, 255, 0.5) */
}

.assetsViewStatusBar {
  position: absolute;
  top: 100px;
  z-index: 200;
  height: 50px;
  width: 100%;
  /* background-color: #eee; */
  /* opacity: 0.8 */
}

#clock {
  width: 170px;
  height: 60px;
  background-color: #333;
  position: fixed;
  top: 75px;
  right: 7px;
  z-index: 1000;
}

#loadScreen {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  position: fixed;
  /* top: 0px; */
  z-index: 1100;
  top: 0px;
  /* font-size: 20px; */
}

#loadScreen-backdrop {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
}

#loadScreen-backdrop img {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loadScreen-svgContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1200;
  font-size: 20px;
}

.loadScreenActivityIndicator {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000
}




#assetsView_blinderAssetsSwitch {
  text-align: center;
  line-height: 700px;
  background-color: white;
  /* Adjust the line-height as needed */
}

#assetsView_blinderAssetsSwitch img {
  vertical-align: middle;
}

#mainPageBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Adjust the height to accommodate the nested div */
  height: 9000px;
  background-color: #E8F0F4;
  z-index: -1;
}

#betaNotificatieBackdrop {
  position: absolute;
  top: 780px;
  left: 0;
  width: 100%;
  height: 1380px;
  background-color: #FFFFFF;
  z-index: 1;
}

#modelBeschrijvingBackdrop {
  position: absolute;
  top: 605px;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: #D5E0EA;
  z-index: 1;
}

#scenrioSpecificatieBackdrop {
  position: absolute;
  top: 2090px;
  left: 0;
  width: 100%;
  height: 210px;
  background-color: #546689;
  z-index: 1;
}

#section_title {
  background-color: #01689b;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  /* padding-bottom: 50px; */
  height: 76px
}

#section_intro {
  background-color: #E8F0F4;
  /* background-color: red; */
  /* width: 100%; */
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

#section_aandachtspunten {
  width: 100%;
  background-color: #D5E0EA;
  padding-top: 30px;
  padding-bottom: 30px
}

#section_overhetmodel {
  padding-top: 40px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
}

#section_scenariodefinitie {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  background-color: #546689;
  width: 100%;
}


#section_tijdlijn_toelichting {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  background-color: #E8F0F4;
  width: 100%;
}


#timelineContainer {
  /* width: 100%; */
  width: 1110px;
  margin: 0 auto;
  position: sticky;
  top: 5px;
  left: 0px;
  z-index: 1000;
  padding-left: 15px;


}

#timeline {
  width: 1110px;
  /* position: relative; */
  top: 0px;
  /* left: 10px; */
  height: 65px;
  z-index: 1000;
  /* border: 5px solid #546689; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}




#section_visualisaties {
  padding-top: 40px;
  width: 100%;
}

.contentContainer {
  width: 980px;
  margin: 0 auto;
  position: relative;
}


.triangle-container {
  position: fixed;
  /* overflow: hidden.; */
  top: -11px;
  right: -46px;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #333;
  /* Change color as needed */
  text-align: center;
  z-index: 2000;
  transform: rotate(45deg);
  pointer-events: none;
  opacity: 0.7;
  /* Set a high z-index to ensure it appears above other content */
}

.beta-label {
  position: absolute;
  top: 37px;
  right: -16px;
  /* Adjust based on the size of the triangle */
  color: #fff;
  font-weight: 800;
  /* Change text color as needed */
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 8px;
  text-align: left;
  color: #fff
}

th {
  background-color: #f2f2f2;
}

/* .merged-rows {
  border-bottom: 0;
} */

tbody td:nth-child(3),
tbody td:nth-child(4),
tbody td:nth-child(5) {
  text-align: center;
}